body{
  font-family:'Roboto Condensed', sans-serif;
  color: #313335;
  font-size: 20px;
  line-height: 1.5;
  background-color: #F5F5F5;
  margin: 0
}

h1,
h2{
  color: #6B1E00;
  font-family: 'EB Garamond', serif;
  font-style: italic;
}

h1{
  font-size: 70px;
  text-align: center;
}

h2{
  font-size: 45px;
  margin-top: 0;
  }

header{
  background-color: #CEC4C2;
  padding: 15px;
}

.jak-sel-cas,
.volny-cas,
.paticka{
  background-color:#CEC4C2;
  text-align: right;
}

.paticka{
  background-color:#CEC4C2 ;
  text-align: center;
  padding: 5px 0;
}

.fotka-hlavicka{
  width: 200px;
  float: right;
  border-radius: 50%;
  margin: 0 0 50px 30px;
  position: relative;
  right: 0;
  bottom: 80px
}

.omne{
  padding-bottom: 0;
}

.fotka-jak-sel-cas,
.fotka-volny-cas{
  width: 450px;
  float: left;
  margin: 0 50px 50px 0;
  border: 3px solid #6B1E00;
}

.fotka-prace{
  width: 450px;
  float:right;
  margin: 0 0 30px 30px;
  border: 3px solid #6B1E00;
}

.cestovani{
  text-align: left;
  padding-bottom: 20px;
}

.cestovani img{
  width: 32%;
  border: 2px solid #6B1E00;
}

section{
  padding: 50px 15%;
  overflow: auto;
}

.menu{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:#6B1E00;
}

.menu li{
  display: inline-block ;
}

.menu a{
  display: inline-block;
  padding: 20px 30px;
  color:#CEC4C2 ;
  text-decoration: none;
}

.menu a:hover,
.menu a:focus,
.menu a:active{
  background-color: #B65A35;
}
